/* General CSS. Responsive overrides are towards the bottom of the file. */
* {
  margin: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.no-transition * {
  animation: none !important;
}

#header {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, .8);
}

#header ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#header ul li {
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#header ul li a {
  color: black;
  text-decoration: none;
  font-family: Merriweather, georgia, serif;
  font-size: 1.5em;
  font-weight: 300;
}

#main {
  margin-top: 62px;
}

#main #content {
  float: left;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

#main #content.large {
  width: 100%;
  animation-name: content-grow;
  animation-duration: 1s;
}

#main #content.small {
  width: 70%;
  animation-name: content-shrink;
  animation-duration: 1s;
}

#main #content .content-wrapper {
  max-width: 848px;
  margin: 0 auto;
}

.card {
  display: inline-block;
  padding: 5px;
  width: 270px;
  text-align: center;
  vertical-align: top;
}

.card img {
  width: calc(100% - 10px);
  margin-bottom: 1em;
}

.card h2 {
  color: #1a1a1a;
  font-size: 1.5em;
  font-weight: 300;
  font-family: Merriweather, georgia, serif;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: .25em;
  padding-bottom: 3px;
}

.card p {
  font-size: 1em;
  color: #777;
  text-align: left;
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

#main #sidebar {
  float: left;
  font-family: Merriweather, georgia, serif;
  font-weight: 300;
}

#main #sidebar p {
  margin-left: 5px;
}

#main #sidebar.hidden {
  width: 0%;
  animation-name: sidebar-shrink;
  animation-duration: 1s;
}

#main #sidebar.visible {
  width: 30%;
  animation-name: sidebar-grow;
  animation-duration: 1s;
}

#footer {
  text-align: center;
  padding: 5px;
  font-family: Merriweather, georgia, serif;
  font-size: 1em;
  font-weight: 300;
  border-top: 1px solid #ccc;
}

.clear {
  clear: both;
}

/* Transitions to show/hide the sidebar */
@keyframes content-shrink {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}

@keyframes content-grow {
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}

@keyframes sidebar-grow {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@keyframes sidebar-shrink {
  from {
    width: 30%;
  }
  to {
    width: 0%;
  }
}

/* Override certain properties for smaller screens */
@media (max-width: 600px) {
  #header ul li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .card {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .card img {
    width: calc(100% - 20px);
    margin-bottom: 1em;
  }

  .card h2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .card p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Override certain properties for extremely small screens */
@media (max-width: 373px) {
  #main {
    margin-top: 103px;
  }
}

/* Specific to bigger screens only */
@media (min-width: 601px) {
  /* Smaller devices are generally touch screens, so 'hover' mode is pointless */
  #header ul li:hover a {
    text-decoration: underline;
  }
}
